<div class="container my-md-4" style="max-width: 768px;">
  <div class="row py-3 py-md-5 d-flex justify-content-center shadow-sm rounded-3 form-wrapper">
    <div class="col-10 col-sm-7 col-md-6 p-0">
      <h4 class="mb-4 fw-bold text-center">グループを作成</h4>
      <%= form_with model: @group do |f| %>
        <div class="mb-4">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control form-control-sm" %>
        </div>
        <p class="small mb-2">追加するユーザーを選択して下さい。</p>
        <div class="mb-4">
          <%= f.collection_check_boxes :user_ids, User.all, :id, :name, { checked: current_user.id } do |b| %>
            <span class="check-boxes me-3"><%= b.label { b.check_box + b.text } %></span>
          <% end %>
        </div>
        <div class="mb-3 d-grid gap-2">
          <%= f.submit "作成", class: "btn btn-danger rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
