<h4><%= @group.name %></h4>
<%= link_to "編集", edit_group_path(@group.id) %>
<%= link_to "グループを削除", group_path, method: :delete, data: { confirm: "本当に削除しますか？" } %>

<table class="table table-sm">
  <% @group.users.each do |user| %>
    <tr>
      <% if user.icon.attached? %>
        <td><%= image_tag user.icon.variant(resize: '100x100'), alt: "アイコン", class: "group-icon rounded-circle" %></td>
      <% else %>
        <td><%= image_tag 'icon_user.png', alt: "アイコン", class: "group-icon rounded-circle" %></td>
      <% end %>
      <td class="text-nowrap"><%= user.name %></td>
      <td class="text-nowrap"><%= user.prefecture.name if user.prefecture.present? %></td>
      <td class="d-none d-sm-table-cell"><%= user.introduction.present? ? user.introduction : "-" %></td>
    </tr>
  <% end %>
</table>

<%= form_with url: group_path(@group.id), method: :get do |f| %>
  <div class="d-flex justify-content-end align-items-center gap-1">
    <%= f.collection_select(:prefecture, JpPrefecture::Prefecture.all, :name, :name, { prompt: "都道府県を選択" }, { class: "form-select form-select-sm w-auto" }) %>
    <%= f.submit "絞り込む", class: "btn btn-secondary btn-sm" %>
  </div>
<% end %>

  <div class="d-flex justify-content-between align-items-center">
    <h5>メンバーの行きたいリスト</h5>
    <% if params[:prefecture].present? %>
      <div class="alert alert-info px-2 py-1 m-0">
        <i class="bi bi-funnel-fill"></i>
        <span>選択中：<%= params[:prefecture] %></span>
        <%= link_to group_path(@group.id) do %>
          <i class="bi bi-x-lg alert-link"></i>
        <% end %>
      </div>
    <% end %>
  </div>

<%= form_with url: new_plan_path, method: :get do |f| %>
  <% @visible_destinations.each do |user, destinations| %>
    <h6><%= user.name %></h6>
    <ul>
      <% destinations.each do |destination| %>
        <li class="list-unstyled">
          <%= check_box_tag "destination_ids[]", destination.id, false, id:"destination_#{destination.id}", class: "form-check-input" %>
          <%= label_tag "destination_#{destination.id}", destination.name %>
          <%= link_to "詳細", destination_path(destination.id) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= f.hidden_field :group_id, value: @group.id %>
  <div class="d-grid gap-2">
    <%= f.submit '旅行プラン作成に進む', class: "btn btn-outline-danger" %>
  </div>
<% end %>

<h5>旅行プラン</h5>
<ul class="plan-list">
  <% @group.plans.each do |plan| %>
    <li>
      <%= link_to plan.title, plan_path(plan.id) %>
      <%= plan.start_date %>
      <%= plan.end_date %>
      <% plan.destinations.each do |destination| %>
        <%= destination.name %>
      <% end %>
    </li>
  <% end %>
</ul>
