<div class="container-md mt-2 bg-white shadow-sm rounded-3">
  <div class="row py-2 d-flex justify-content-end">
    <div class="col-10 col-sm-11">
      <div class="row">
        <div class="col-12 d-flex justify-content-between mb-2 ps-3 pe-0">
          <div class="d-flex align-items-center gap-3 gap-lg-4">
            <% if current_user.icon.attached? %>
              <%= image_tag current_user.icon.variant(resize: '100x100'), alt: "アイコン画像", class: "icon rounded-circle" %>
            <% else %>
              <%= image_tag 'icon_user.png', alt: "アイコン", class: "icon rounded-circle" %>
            <% end %>
            <div>
              <h4 class="fw-bold m-0"><%= current_user.name %></h4>
              <span class="text-secondary"><%= current_user.prefecture.name if current_user.prefecture.present? %></span>
            </div>
          </div>
          <p class="m-0 d-none d-md-block"><%= "前回ログイン：#{current_user.last_sign_in_at}" %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-0">
          <p class="mb-0 ms-3 ms-md-5"><%= current_user.introduction if current_user.introduction.present? %></p>
        </div>
      </div>
    </div>
    <div class="col-2 col-sm-1 p-0 d-flex justify-content-center align-items-center">
      <%= link_to "編集", edit_user_registration_path %>
    </div>
  </div>
</div>

<div class="container-md mt-2">
  <div class="row">
    <div class="col-12 col-sm-5 px-0 pe-sm-2">
      <div class="py-2 px-1 bg-white shadow-sm rounded-3">
        <h6 class="fw-bold text-center">所属グループ</h6>
        <table>
          <% @groups.each do |group| %>
            <tr>
              <th><%= link_to group.name, group_path(group.id) %></th>
              <td class="ps-3">
                <% group.users.sort.reject{ |user| user == current_user }.each do |user| %>
                  <% if user.icon.attached? %>
                    <%= image_tag user.icon.variant(resize: '100x100'), alt: "アイコン", class: "group-icon rounded-circle" %>
                  <% else %>
                    <%= image_tag 'icon_user.png', alt: "アイコン", class: "group-icon rounded-circle" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
        <p class="text-end mt-1 me-1 mb-0">
          <%= link_to "グループ を作る", new_group_path %>
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-7 px-0 ps-sm-2 mt-2 mt-sm-0">
      <div class="bg-white shadow-sm rounded-3">
        Japan
      </div>
    </div>
  </div>
</div>
