<div class="container-md mt-2 bg-white shadow-sm rounded-3">
  <div class="row py-2 d-flex justify-content-end">
    <div class="col-10 col-sm-11">
      <div class="row">
        <div class="col-12 d-flex justify-content-between mb-2 ps-3 pe-0">
          <div class="d-flex align-items-center gap-3 gap-lg-4">
            <% if current_user.icon.attached? %>
              <%= image_tag current_user.icon.variant(resize: '100x100'), alt: "アイコン画像", class: "icon rounded-circle" %>
            <% else %>
              <%= image_tag 'icon_user.png', alt: "アイコン", class: "icon rounded-circle" %>
            <% end %>
            <div>
              <h4 class="fw-bold m-0"><%= current_user.name %></h4>
              <span class="text-secondary"><%= current_user.prefecture.name if current_user.prefecture.present? %></span>
            </div>
          </div>
          <p class="m-0 d-none d-lg-block text-secondary"><%= "前回ログイン：#{l current_user.last_sign_in_at}" %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-0">
          <p class="mb-0 ms-3 ms-md-5"><%= current_user.introduction if current_user.introduction.present? %></p>
        </div>
      </div>
    </div>
    <div class="col-2 col-sm-1 p-0 d-flex justify-content-center align-items-center">
      <%= link_to "編集", edit_user_registration_path %>
    </div>
  </div>
</div>

<div class="container-md mt-2">
  <div class="row">
    <div class="col-12 col-md-4 px-0 pe-md-2">
      <div class="row">
        <div class="col-12">
          <div class="my-groups py-2 px-1 bg-white shadow-sm rounded-3">
            <h6 class="fw-bold text-center">所属グループ</h6>
            <table>
              <% @groups.each do |group| %>
                <tr>
                  <th><%= link_to group.name, group_path(group.id) %></th>
                  <td class="ps-3 text-nowrap">
                    <% group.users.sort.reject{ |user| user == current_user }.each do |user| %>
                      <% if user.icon.attached? %>
                        <%= image_tag user.icon.variant(resize: '100x100'), alt: "アイコン", class: "group-icon rounded-circle" %>
                      <% else %>
                        <%= image_tag 'icon_user.png', alt: "アイコン", class: "group-icon rounded-circle" %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
            <p class="text-end mt-1 me-1 mb-0">
              <%= link_to "グループ を作る", new_group_path %>
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div class="py-2 px-1 bg-white shadow-sm rounded-3">
            <p class="fs-4 mb-0 fw-bold text-center">
              <%= link_to @latest_plan.title, plan_path(@latest_plan) %>
            </p>
            <div class="d-flex justify-content-center align-items-center gap-2 mb-2">
              <p class="mb-0">
                <i class="bi bi-calendar-check me-1"></i>
                <%= @latest_plan.start_date %>
              </p>
              <p class="mb-0 text-secondary">
                <%= @days_left >= 0 ? "まで" : "から" %>
              </p>
            </div>
            <p class="fs-1 text-center mb-0"><%= @days_left %>日</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 col-md-8 px-0 ps-md-2 mt-2 mt-md-0">
      <div class="map-container shadow-sm rounded-3">
        <div id="jmap">
          <div class="jmap-infobox">
            <h5 class="fw-bold">旅の足跡</h5>
            <p>旅行した都道府県に色がつきます。</p>
          </div>
        </div>

        <script>
          $(document).ready(function () {
            const userPrefectureCode = <%= @user_pref.present? ? @user_pref : 0 %>;
            const visitedPrefectureCodes = <%= @visited_pref_codes %>;
            const areas = Array.from({ length: 47 }, (_, i) => {
              const prefectureCode = i + 1;
              const isUserPrefecture = (prefectureCode === userPrefectureCode);
              const isVisitedPrefecture = visitedPrefectureCodes.includes(prefectureCode);
              return {
                code: prefectureCode,
                color: isUserPrefecture ? '#228B22' : (isVisitedPrefecture ? '#66CDAA' : '#cccccc'),
                hoverColor: isUserPrefecture ? '#6B8E23' : (isVisitedPrefecture ? '#8FBC8F' : '#F1E2CC')
              };
            });

            $('#jmap').jmap({
              height: '450px',
              showInfobox: true,
              backgroundPadding: '1rem',
              prefectureClass: 'prefecture',
              fontSize: '0.8rem',
              fontColor: '#fff',
              font: 'sans-serif',
              dividerColor: 'gray',
              showTextShadow: true,
              textShadowWidth: '3.5px',
              areas: areas,
              onLoad: function (e, data) {
                $(this).html('<strong>' + data.name + '</strong>');
              },
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
<div class="container-md mt-3 bg-white shadow-sm rounded-3">
  <div class="row pt-3 pt-lg-4 pb-4 d-flex justify-content-center">
    <div class="col-11 px-0">
      <h4 class="mb-4 fw-bold">
        <i class="bi bi-airplane-fill"></i>
        旅行プラン一覧
      </h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4">
        <% @plans.each do |plan| %>
            <div class="col">
              <div class="card h-100 shadow-sm">
                <%= link_to plan_path(plan) do %>
                  <% if plan.images.present? %>
                    <%= image_tag plan.images.sample, alt: "思い出の写真", class: "border-bottom plan-card-image" %>
                  <% else %>
                    <%= image_tag 'sample_image.jpg', alt: "サンプル写真", class: "border-bottom plan-card-image sample-card-image" %>
                  <% end %>
                <% end %>
                <div class="card-body flex-column d-flex justify-content-between">
                  <div>
                    <h5 class="card-title fw-bold">
                      <%= link_to plan.title, plan_path(plan) %>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <i class="bi bi-calendar-range me-1"></i>
                      <%= plan.start_date %> - <%= plan.end_date %>
                    </h6>
                    <% if plan.status == "実行済" %>
                      <div class="alert alert-info p-0 mb-0 d-flex justify-content-center align-items-center gap-1" role="alert">
                        <i class="bi bi-check2-circle fs-4"></i>
                        <%= plan.status %>
                      </div>
                    <% end %>
                    <p class="mt-2 mb-1"><%= plan.note %></p>
                  </div>
                  <div class="mt-auto">
                    <%= link_to group_path(plan.group.id), class: "d-block text-end" do %>
                      <span class="badge bg-light text-dark border">
                        <%= plan.group.name %>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'jmap.js' %>
