<div id='map'></div>
<script>
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()
    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= @destination.latitude %>, lng: <%= @destination.longitude %>},
      zoom: 15,
    });
    marker = new google.maps.Marker({
      position:  {lat: <%= @destination.latitude %>, lng: <%= @destination.longitude %>},
      draggable: true,
      map: map
    });
    // マーカーのドロップ（ドラッグ終了）時のイベント
    google.maps.event.addListener( marker, 'dragend', function(ev){
      document.getElementById('lat').value = ev.latLng.lat();
      document.getElementById('lng').value = ev.latLng.lng();
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_PLATFORM_API_KEY'] %>&callback=initMap" async defer></script>

<div class="container my-md-3" style="max-width: 768px;">
  <div class="row py-4 d-flex justify-content-center shadow-sm rounded-3 form-wrapper">
    <div class="col-11 col-sm-7 col-md-6 p-0">
      <h4 class="mb-3 fw-bold text-center">
        <i class="bi bi-pencil-fill me-1"></i>
        行きたいところを編集
      </h4>
      <p class="mb-4 d-flex justify-content-center align-items-center gap-1">
        <i class="bi bi-geo-alt-fill fs-5"></i>
        マーカーを動かすと地点を微調整できます。
      </p>
      <%= render "shared/errors", obj: @destination %>
      <%= form_with model: @destination do |f| %>
        <div class="mb-3">
          <%= f.label :name, "名称", class: "required" %>
          <span class="character-limit">20文字以内</span>
          <%= f.text_field :name, id: :name, placeholder: "Googleマップから自動入力（編集可）", class: "form-control form-control-sm" %>
        </div>
        <div class="mb-4">
          <%= f.label :address, class: "required" %>
          <span class="character-limit">60文字以内</span>
          <%= f.text_field :address, id: :address_on_map, placeholder: "Googleマップから自動入力（編集可）", class: "form-control form-control-sm" %>
        </div>
        <div class="mb-3 d-flex align-items-center gap-3">
          <%= f.label :category_id, "カテゴリー", class: "text-nowrap" %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: "カテゴリーを選択" }, { class: "form-select form-select-sm" }) %>
        </div>
        <div class="mb-3">
          <%= f.label :note %>
          <%= f.text_area :note, class: "form-control form-control-sm" %>
        </div>
        <div class="mb-3 form-check">
          <%= f.check_box :is_private, {class: "form-check-input"}, "true", "false" %>
          <%= f.label :is_private, "非公開にする場合はチェック", class: "form-check-label" %>
        </div>
        <%= f.hidden_field :latitude, id: :lat %>
        <%= f.hidden_field :longitude, id: :lng %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="mb-3 d-flex gap-3">
          <%= link_to destination_path, method: :delete, data: { confirm: "「#{@destination.name}」を削除しますか？" },
           class: "btn btn-sm btn-outline-secondary rounded-pill col fs-6 d-flex justify-content-center align-items-center gap-1" do %>
            <i class="bi bi-trash"></i>リストから削除
          <% end %>
          <%= button_tag type: "submit",
           class: "btn btn-sm btn-danger rounded-pill col fs-6 d-flex justify-content-center align-items-center gap-1" do %>
            <i class="bi bi-check2-circle fs-5"></i>保存
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
