<div id='map'></div>
<script>
  function initMap() {
    let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 34.7024854, lng: 135.4959506},
      zoom: 10,
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    <% @destinations.each do |destination| %>
      (function() {
        let markerLatLng = { lat: <%= destination.latitude %>, lng: <%= destination.longitude %> };
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map
        });
        //マーカーをクリックしたとき、詳細情報を表示
        let infowindow = new google.maps.InfoWindow({
          position: markerLatLng,
          content: "<a href='<%= destination_url(destination.id) %>'><%= destination.name %></a>"
        }); //詳細ページへのリンクを表示
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })();
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_PLATFORM_API_KEY'] %>&callback=initMap" async defer></script>

<div class="container-md mt-2 bg-white shadow-sm rounded-3">
  <div class="row py-2 d-flex justify-content-end">
    <div class="col-12">
      <h4>私の行きたいところリスト</h4>
      <%= link_to "目的地を登録", new_destination_path %>
      <table class="table table-striped text-nowrap mt-3 destinations-table">
        <% @destinations.each do |destination| %>
          <tr>
            <th class="destn-name-col txt-limit"><%= link_to destination.name, destination_path(destination.id) %></th>
            <td class="d-none d-sm-block txt-limit"><%= destination.note.present? ? destination.note : "-" %></td>
            <td class="private-col"><%= "非公開" if destination.is_private %></td>
            <td class="edit-link-col"><%= link_to "編集", edit_destination_path(destination.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
