<div id='map'></div>
<script>
  //初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 34.7024854, lng: 135.4959506},
      zoom: 15,
    });
  }

  //検索後のマップ作成
  let geocoder
  let aft
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }
        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable: true
        });
        //二度目以降か判断
        aft = true
        //検索時に緯度・経度・場所の名前・住所を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();
        document.getElementById('name').value = inputAddress;
        document.getElementById('address_on_map').value = results[0].formatted_address;
        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
          document.getElementById('lat').value = ev.latLng.lat();
          document.getElementById('lng').value = ev.latLng.lng();
        });
      } else {
        alert('該当する情報が見つかりませんでした。');
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_PLATFORM_API_KEY'] %>&callback=initMap" async defer></script>

<div class="container my-md-3" style="max-width: 768px;">
  <div class="row py-4 d-flex justify-content-center shadow-sm rounded-3 form-wrapper">
    <div class="col-10 col-sm-7 col-md-6 p-0">
      <h4 class="mb-4 fw-bold text-center">
        <i class="bi bi-bookmark-plus-fill"></i>
        行きたいところを追加
      </h4>
      <%= render "shared/errors", obj: @destination %>
      <div class="d-flex">
        <input id="address" class="form-control form-control-sm me-2" type="textbox" placeholder="まずはGoogleマップで検索！" autofocus=true>
        <input type="button" value="検 索" class="btn btn-outline-success px-3" onclick="codeAddress()">
      </div>
      <p class="mt-2 mb-4 d-flex justify-content-center align-items-center gap-1">
        <i class="bi bi-geo-alt-fill fs-5"></i>
        マーカーを動かすと地点を微調整できます。
      </p>
      <%= form_with model: @destination do |f| %>
        <div class="mb-3">
          <%= f.label :name, "名称", class: "required" %>
          <span class="character-limit">20文字以内</span>
          <%= f.text_field :name, id: :name, placeholder: "Googleマップから自動入力（編集可）", class: "form-control form-control-sm" %>
        </div>
        <div class="mb-4">
          <%= f.label :address, class: "required" %>
          <span class="character-limit">60文字以内</span>
          <%= f.text_field :address, id: :address_on_map, placeholder: "Googleマップから自動入力（編集可）", class: "form-control form-control-sm" %>
        </div>
        <div class="mb-3 d-flex align-items-center gap-3">
          <%= f.label :category_id, "カテゴリー", class: "text-nowrap" %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: "カテゴリーを選択" }, { class: "form-select form-select-sm" }) %>
        </div>
        <div class="mb-3">
          <%= f.label :note %>
          <%= f.text_area :note, class: "form-control form-control-sm" %>
        </div>
        <div class="mb-3 form-check">
          <%= f.check_box :is_private, {class: "form-check-input"}, "true", "false" %>
          <%= f.label :is_private, "非公開にする場合はチェック", class: "form-check-label" %>
        </div>
        <%= f.hidden_field :latitude, id: :lat %>
        <%= f.hidden_field :longitude, id: :lng %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="d-grid gap-2">
          <%= f.submit '保存', class: "btn btn-danger rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
