<div class="container-fluid">
  <div class="row">
    <div class="col-4 col-xl-3 d-none d-sm-block ps-0 pe-lg-5">
      <%= link_to destinations_path, class: "d-block m-3 text-decoration-none d-flex justify-content-between align-items-center border-bottom border-2 border-secondary text-dark destinations-link" do %>
        <i class="bi bi-arrow-left fs-5 ms-1"></i>
        <span><span class="d-none d-md-inline-block">あなたの</span>行きたいリスト</span>
        <span class="me-1"></span>
      <% end %>
      <ul class="list-group">
        <% @destinations.each do |destination| %>
          <li class="list-group-item list-group-item-action list-group-item-light<%= " active" if destination.id == @destination.id %> d-flex justify-content-between align-items-center pe-2">
            <%= link_to destination.name, destination_path(destination.id), class: (destination.id == @destination.id ? "text-white" : "text-body") %>
            <% if destination.is_private %>
              <span class="badge bg-secondary rounded-pill">非公開</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-12 col-sm-8 col-xl-9 mt-sm-3">
      <div class="row">
        <div class="col-12 col-sm-11 p-0" style="max-width:800px;">
          <div id='map'></div>
          <script>
            let map
            let marker
            function initMap(){
              geocoder = new google.maps.Geocoder()
              map = new google.maps.Map(document.getElementById('map'), {
                center:  {lat: <%= @destination.latitude %>, lng: <%= @destination.longitude %>},
                zoom: 15,
              });
              marker = new google.maps.Marker({
                position:  {lat: <%= @destination.latitude %>, lng: <%= @destination.longitude %>},
                map: map
              });
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_PLATFORM_API_KEY'] %>&callback=initMap" async defer></script>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-11 p-3 p-md-4 shadow-sm rounded-3 form-wrapper" style="max-width:800px;">
          <div class="d-flex justify-content-between align-items-center gap-2 mb-3">
            <div class="d-flex align-items-center gap-2 gap-md-3">
              <h4 class="mb-0"><%= @destination.name %></h4>
              <span class="mb-0 text-nowrap badge <%= @destination.status == "未訪問" ? "bg-danger" : "bg-secondary" %> px-2 py-1">
                <%= @destination.status %>
              </span>
            </div>
            <% if @destination.category.present? %>
              <span class="text-nowrap badge bg-light text-dark p-2 border">
                <%= @destination.category.name %>
              </span>
            <% end %>
          </div>
          <p class="text-secondary"><%= @destination.address %></p>
          <%= @destination.note %>
          <% if @destination.is_private %>
            <p>非公開</p>
          <% else %>
            <p>公開</p>
          <% end %>
          <%= @destination.user.name %>
          <% if @destination.user.id == current_user.id %>
            <%= link_to "編集", edit_destination_path(@destination.id) %>
            <%= link_to "削除", destination_path, method: :delete, data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
