<h4><%= @destination.name %></h4>
<%= @destination.note %>
<% if @destination.is_private %>
  <p>非公開</p>
<% else %>
  <p>公開</p>
<% end %>
<%= @destination.user.name %>
<%= link_to "編集", edit_destination_path(@destination.id) %>
<%= link_to "削除", destination_path, method: :delete, data: { confirm: "本当に削除しますか？" } %>
