<%= render "shared/errors", obj: @plan %>
<h4>旅行プラン編集</h4>
<%= form_with model: @plan do |f| %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "タイトル文字以内", class: "form-control form-control-sm" %>
  </div>
  <div class="mb-3">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div class="mb-3">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <div class="mb-3">
    <p>こちらが選択されています</p>
    <%= f.collection_check_boxes :destination_ids, @plan.destinations, :id, :name do |b| %>
      <span class="check-boxes me-2"><%= b.label { b.check_box(checked: true) + b.text } %></span>
    <% end %>
  </div>
  <div class="mb-3">
    <%= f.label :note %>
    <%= f.text_area :note, placeholder: "メモ文字以内", class: "form-control form-control-sm" %>
  </div>
  <%= f.hidden_field :group_id, value: @plan.group_id %>
  <div class="d-grid gap-2">
    <%= f.submit '更新', class: "btn btn-danger rounded-pill" %>
  </div>
<% end %>
