<div class="container my-md-3" style="max-width: 900px;">
  <div class="row py-4 d-flex justify-content-center shadow-sm rounded-3 form-wrapper">
    <div class="col-11 col-sm-9 col-md-8 p-0">
      <h4 class="mb-4 fw-bold text-center">旅行プラン編集</h4>
      <%= render "shared/errors", obj: @plan %>
      <%= form_with model: @plan do |f| %>
        <div class="mb-4 d-flex justify-content-between align-items-center gap-3">
          <%= f.label :title, class: "text-nowrap" %>
          <%= f.text_field :title, placeholder: "タイトル文字以内", class: "form-control form-control-sm w-100" %>
        </div>
        <div class="mb-3 d-flex justify-content-between align-items-center gap-1 gap-sm-4">
          <%= f.date_field :start_date, class: "form-control form-control-sm" %>
          <span class="text-nowrap">から</span>
          <%= f.date_field :end_date, class: "form-control form-control-sm" %>
        </div>
        <div class="mb-3">
          <p class="mb-1">こちらが選択されています</p>
          <%= f.collection_check_boxes :destination_ids, @plan.destinations, :id, :name do |b| %>
            <span class="check-boxes me-2"><%= b.label { b.check_box(checked: true) + b.text } %></span>
          <% end %>
        </div>
        <div class="mb-3">
          <%= f.label :proposed_plan %>
          <%= f.text_area :proposed_plan, placeholder: "再度文章を生成するには、新規で旅行プランを作成して下さい", class: "form-control form-control-sm", rows: 15 %>
        </div>
        <div class="mb-4">
          <%= f.label :note %>
          <%= f.text_area :note, placeholder: "メモ文字以内", class: "form-control form-control-sm" %>
        </div>
        <div class="d-grid gap-2">
          <%= f.submit '更新', class: "btn btn-danger rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
