<div class="container my-md-3" style="max-width: 900px;">
  <div class="row py-5 d-flex justify-content-center shadow-sm rounded-3 form-wrapper">
    <div class="col-11 col-sm-9 col-md-8 p-0">
      <h4 class="mb-4 fw-bold text-center">
        <i class="bi bi-chat-dots-fill fs-3 me-1"></i>
        旅行プランを作成する
      </h4>
      <%= render "shared/errors", obj: @plan %>
      <%= form_with model: @plan do |f| %>
        <div class="mb-4 d-md-flex justify-content-between align-items-center gap-3">
          <%= f.label :title, class: "text-nowrap required" %>
          <%= f.text_field :title, placeholder: "25文字以内（例：AI大阪旅）", class: "form-control form-control-sm" %>
        </div>
        <div class="mb-3 d-flex justify-content-between align-items-center gap-1 gap-sm-4">
          <%= f.date_field :start_date, class: "form-control form-control-sm" %>
          <span class="text-nowrap">から</span>
          <%= f.date_field :end_date, class: "form-control form-control-sm" %>
        </div>
        <div class="mb-3">
          <p class="mb-1">こちらが選択されています</p>
          <%= f.collection_check_boxes :destination_ids, @selected_destinations, :id, :name do |b| %>
            <span class="check-boxes me-2"><%= b.label { b.check_box(checked: true) + b.text } %></span>
          <% end %>
        </div>
        <div class="mb-5">
          <%= f.label :note %>
          <%= f.text_area :note, placeholder: "旅のメモを入力（AIによる文章生成には影響しません。）", class: "form-control form-control-sm" %>
        </div>
        <%= f.hidden_field :group_id, value: @group_id %>
        <div class="d-grid gap-2">
          <%= f.submit 'AI提案プランを生成（数秒要します）', class: "btn btn-dark bg-gradient rounded-pill shadow-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
