<% provide(:title, @plan.title) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 d-none d-sm-block ps-0 pe-xl-5">
      <%= link_to group_path(@plan.group_id), class: "d-block m-3 text-decoration-none d-flex justify-content-between align-items-center border-bottom border-2 border-secondary text-dark destinations-link" do %>
        <i class="bi bi-arrow-left fs-6 fs-md-5 ms-1"></i>
        <span>グループ画面へ</span>
        <span class="me-1"></span>
      <% end %>
      <ul class="list-group list-group-flush shadow-sm">
        <% @my_plans.each do |plan| %>
          <li class="list-group-item list-group-item-action list-group-item-light<%= " active" if plan.id == @plan.id %> d-flex justify-content-between align-items-center pe-2">
            <%= link_to plan.title, plan_path(plan.id), class: (plan.id == @plan.id ? "text-white" : "text-body") %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-12 col-sm-8 col-md-9">
      <div class="row">
        <div class="col-12 col-sm-11 p-0">
          <div id='map-show'></div>
          <script>
            function initMap() {
              let map = new google.maps.Map(document.getElementById('map-show'), {
                center: {
                  lat: <%= @plan.destinations.present? ? @plan.destinations.first.latitude : 34.7024854 %>,
                  lng: <%= @plan.destinations.present? ? @plan.destinations.first.longitude : 135.4959506 %>
                },
                zoom: 11,
              });
              let transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);

              <% @plan.destinations.each do |destination| %>
                (function() {
                  let markerLatLng = {
                    lat: <%= destination.present? ? destination.latitude : 34.7024854 %>,
                    lng: <%= destination.present? ? destination.longitude : 135.4959506 %>
                  };
                  let marker = new google.maps.Marker({
                    position: markerLatLng,
                    map: map
                  });
                  //マーカーをクリックしたとき、詳細情報を表示
                  let infowindow = new google.maps.InfoWindow({
                    position: markerLatLng,
                    content: "<a href='<%= destination_url(destination.id) %>'><%= destination.name %></a>"
                  }); //詳細ページへのリンクを表示
                  marker.addListener('click', function() {
                    infowindow.open(map, marker);
                  });
                })();
              <% end %>
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_PLATFORM_API_KEY'] %>&callback=initMap" async defer></script>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-11 p-3 mb-sm-4 shadow-sm rounded-3 bg-white">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h4 class="fw-bold mb-0"><%= @plan.title %></h4>
            <%= link_to group_path(@plan.group.id) do %>
              <span class="badge bg-dark bg-gradient rounded-pill p-2 group-link">
                <%= @plan.group.name %>
              </span>
            <% end %>
          </div>
          <div class="d-flex justify-content-end">
            <p class="mb-2 fw-bold">
              <i class="bi bi-calendar-range me-1"></i>
              <%= l @plan.start_date %> - <%= l @plan.end_date, format: :short %>
            </p>
          </div>
          <% if @plan.status == "実行済" %>
            <div class="alert alert-info py-0 d-flex justify-content-center align-items-center gap-1" role="alert">
              <i class="bi bi-check2-circle fs-4"></i>
              <%= @plan.status %>
            </div>
          <% end %>

          <% if @plan.images.present? %>
            <div class="container p-0 mb-4" style="max-width: 600px;">
              <div class="row d-flex justify-content-center">
                <div class="col-12">
                  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <% @plan.images.each_with_index do |_, i| %>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="<%= 'active' if i.zero? %>"></button>
                      <% end %>
                    </div>
                    <div class="carousel-inner">
                      <% @plan.images.each_with_index do |image, i| %>
                        <div class="carousel-item <%= 'active' if i.zero? %>" data-bs-interval="5000">
                          <%= image_tag image.variant(resize: '600x600'), alt: "思い出の写真", class: "plan-image" %>
                        </div>
                      <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <p class="mb-4"><%= safe_join(@plan.proposed_plan.split("\n"),tag(:br)) %></p>
          <table class="table table-sm">
            <thead class="table-light">
              <tr>
                <th scope="col">分類</th>
                <th scope="col">名称</th>
                <th scope="col" class="d-none d-lg-table-cell">住所</th>
                <th scope="col">状況</th>
                <th scope="col" class="text-nowrap">ユーザー</th>
              </tr>
            </thead>
            <tbody>
              <% @plan.destinations.sort_by { |d| d.category_id }.each do |destination| %>
                <tr>
                  <td class="text-nowrap text-secondary"><%= destination.category.name %></td>
                  <td><%= link_to destination.name, destination_path(destination.id) %></td>
                  <td class="d-none d-lg-table-cell"><%= destination.address %></td>
                  <td class="text-nowrap <%= "text-danger" if destination.status == "未訪問" %>">
                    <%= destination.status %>
                  </td>
                  <td><%= destination.user.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @plan.note.present? %>
            <h6 class="fw-bold">メモ</h6>
            <p><%= @plan.note %></p>
          <% end %>
          <% if current_user.group_ids.include?(@plan.group_id) %>
            <p class="text-center d-grid col-8 mx-auto">
              <%= link_to "旅行に行ってきた！", edit_status_plan_path(@plan), class: "btn btn-info mt-4" %>
            </p>
            <%= link_to edit_plan_path(@plan), class: "d-block text-end text-decoration-none" do %>
              <i class="bi bi-pen"></i>
              旅行プランを編集
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
